@{
    ViewBag.Title = "Orange_Money";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="title">
                            <h4>Orange Money</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="~/Home/Dashboard">Accueil</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Orange Money</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 col-sm-12 mb-30">
                    <div class="pd-20 card-box height-100-p">
                        <div class="row justify-content-center btn-list">
                            <a href="#" class="btn" data-bgcolor="#3b5998" data-color="#ffffff">
                                <img src="~/vendors/images/depot.jpg" alt="Avatar" class="image">
                                <div class="centered" style="font-size:20px; font-weight:bold;">DÉPÔT</div>
                            </a>
                            <a href="#" type="button" class="btn" data-bgcolor="#3b5998" data-color="#ffffff">
                                <img src="~/vendors/images/retrait.jpg" alt="Avatar" class="image">
                                <div class="centered" style="font-size:20px; font-weight:bold;">RETRAIT</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

